// Utilites
@tailwind utilities;


// Borders

.border-raised {
  border-color:
    theme("borderColor.white")
    theme("borderColor.gray.default")
    theme("borderColor.gray.default")
    theme("borderColor.white");
}

.border-sunken {
  border-color:
    theme("borderColor.gray.default")
    theme("borderColor.white")
    theme("borderColor.white")
    theme("borderColor.gray.default");
}


// Sprite

.sprite {
  background-image: url("../images/atlas.png");
  background-repeat: no-repeat;
}


// Corners

.corner-1 {
  width: 1px;
  height: 1px;
}

.corner-2 {
  width: 2px;
  height: 2px;
}

.corner-3 {
  width: 3px;
  height: 3px;
}

.corner-raised {
  transform: scaleY(-1);
  background-position: 100% 100%;
}

.corner-sunken {
  transform: scaleX(-1);
  background-position: 100% 100%;
}


// Faces

.face {
  width: 26px;
  height: 26px;
}

.face-smile {
  background-position: 0 100%;
}

.face-win {
  background-position: 34.6667% 71.1111%;
}

.face-dead {
  background-position: 0% 71.1111%;
}

.face-surprised {
  background-position: 34.6667% 100%;
}

.face-sunken {
  background-position: 69.3333% 100%;
}


// Digits

.digit {
  width: 13px;
  height: 23px;
}

.digit-minus {
  background-position: 72.7273% 0;
}

.digit-0 {
  background-position: 86.3636% 0;
}

.digit-1 {
  background-position: 100% 0;
}

.digit-2 {
  background-position: 72.7273% 23.6559%;
}

.digit-3 {
  background-position: 86.3636% 23.6559%;
}

.digit-4 {
  background-position: 100% 23.6559%;
}

.digit-5 {
  background-position: 72.7273% 47.3118%;
}

.digit-6 {
  background-position: 86.3636% 47.3118%;
}

.digit-7 {
  background-position: 100% 47.3118%;
}

.digit-8 {
  background-position: 72.7273% 70.9677%;
}

.digit-9 {
  background-position: 86.3636% 70.9677%;
}


// Cells

.cell {
  width: 16px;
  height: 16px
}

.cell-clean {
  background-position: 0 0;
}

.cell-flag {
  background-position: 18.8235% 0;
}

.cell-mark {
  background-position: 37.6471% 0;
}

.cell-mark-sunken {
  background-position: 56.4706% 0;
}

.cell-0 {
  background-position: 0 16%;
}

.cell-1 {
  background-position: 18.8235% 16%;
}

.cell-2 {
  background-position: 37.6471% 16%;
}

.cell-3 {
  background-position: 56.4705% 16%;
}

.cell-4 {
  background-position: 0 32%;
}

.cell-5 {
  background-position: 18.8235% 32%;
}

.cell-6 {
  background-position: 37.6471% 32%;
}

.cell-7 {
  background-position: 56.4705% 32%;
}

.cell-8 {
  background-position: 0 48%;
}

.cell-mine {
  background-position: 18.8235% 48%;
}

.cell-mine-wrong {
  background-position: 37.6471% 48%;
}

.cell-mine-exploded {
  background-position: 56.4705% 48%;
}
